@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --lightcolor: #db9732;
  --heavycolor: #bc8739;
}

@layer components{
  .navigator {
    @apply relative after:content-[''] after:absolute after:left-0 after:-bottom-1.5
    after:bg-white after:h-[3px] after:w-full after:rounded
    after:scale-x-0 after:transition-transform after:duration-500
    after:origin-right after:hover:origin-left after:hover:scale-x-100
  } 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.hero-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3)
}

.hero-btn {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}
.hero-btn2 {
  background-color: rgba(0,0,0,0.5);
  transition: 0.3s;
}
.hero-btn2:hover {
  background-color: rgba(0,0,0,0.8)
}

.b1 {
  animation: float 10s ease-in-out infinite, sway 5s ease-in-out infinite;
}
@keyframes float {
  50% {
    transform: translateY(-10px);
  }
}
@keyframes sway {
  50% {
    transform: rotate(1deg);
  }
}

.b2 {
  animation-name: flying;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes flying {
  0%   {bottom: -230px; right: 100px; transform: scale(1.4)}
  100% {right:600px; bottom: 100%; transform: scale(0.7)}
}

.facts {
  background-color: rgba(0,0,0,0.5);
}

.see-more-btn:hover {
  text-decoration: underline;
}

#footer {
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#timeline-bg {
  background: #333333;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#archi-bg1 {
  background: #0B486B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#archi-bg2 {
  background: #0B486B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}

@keyframes hammering {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.animate-hammering {
  animation: hammering 1s linear infinite;
}

